.movie-card {
  width: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #791115;
  color: white;
  border-radius: 8px;
  overflow: hidden;
}

.movie-poster {
  width: 100%;
  height: auto;
}

.movie-info {
  padding: 10px;
}

.movie-title {
  font-size: 16px;
  margin: 10px 0 5px 0;
  height: 50px; /* Fixez la hauteur pour deux lignes */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-date {
  font-size: 14px;
  color: #aaa;
}
