.head .header {
  background-color: #260101;
  color: white;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.head .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.head .nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.head .nav-item {
  margin-right: 20px;
}

.head .nav-item a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.head .nav-item a:hover {
  text-decoration: underline;
}

.head .search-bar {
  display: flex;
  align-items: center;
}

.head .search-bar input {
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}

.head .search-bar button {
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #791115;
  color: white;
  cursor: pointer;
}

.head .search-bar button:hover {
  background-color: #777;
}
